<launch>

	<group ns="data_handler">

		<rosparam file="$(find data_handler)/config/defaults.yaml" />

		<node pkg="data_handler" name="data_handler" type="data_handler" output="screen" launch-prefix="gnome-terminal -e"/>
		<node pkg="data_handler" name="hwlistener" type="hwlistener" output="screen" launch-prefix="gnome-terminal -e"/>
		<node pkg="data_handler" name="hwtalker" type="hwtalker" output="screen" launch-prefix="gnome-terminal -e"/>
		
	</group>

</launch>